@using System.Security.Claims

@{
    string PrintXML(string xml) {
        if (xml == null) {
            return null;
        }

        string result = "";

        var mStream = new System.IO.MemoryStream();
        var writer = new System.Xml.XmlTextWriter(mStream, System.Text.Encoding.Unicode);
        var document = new System.Xml.XmlDocument();

        try {
            // Load the XmlDocument with the XML.
            document.LoadXml(xml);

            writer.Formatting = System.Xml.Formatting.Indented;

            // Write the XML into a formatting XmlTextWriter
            document.WriteContentTo(writer);
            writer.Flush();
            mStream.Flush();

            // Have to rewind the MemoryStream in order to read
            // its contents.
            mStream.Position = 0;

            // Read MemoryStream contents into a StreamReader.
            var sReader = new System.IO.StreamReader(mStream);

            // Extract the text from the StreamReader.
            string formattedXml = sReader.ReadToEnd();

            result = formattedXml;
        }
        catch (System.Xml.XmlException) {
            // Handle the exception
        }

        mStream.Close();
        writer.Close();

        return result;
    }
}

    <table id="ClaimsTable" rules="all" border="2" style="border-width:2px;border-style:Ridge;">
        <tr style="color:White;background-color:Black;font-weight:bold;">
            <td colspan="4">Issued Claims Identity</td>
        </tr>
        <tr style="color:White;background-color:Gray;font-weight:bold;">
            <td>Claim Type</td>
            <td>Claim Value</td>
            <td>Issuer</td>
            <td>Original Issuer</td>
        </tr>
        @foreach (var claim in (this.User as ClaimsPrincipal).Claims) {
            <tr>
                <td>@Html.Raw(claim.Type)</td>
                <td>@Html.Raw(claim.Value)</td>
                <td>@Html.Raw(claim.ValueType)</td>
                <td>@Html.Raw(claim.Issuer)</td>
            </tr>
        }
    </table>

    <table id="RawAssertionTable" rules="all" style="border-width:2px;border-style:Ridge;" border="2">
        <tbody>
            <tr style="color:White;background-color:Black;font-weight:bold;">
                <td>Raw SAML11/20 Assertion</td>
            </tr>
            <tr>
                <td>
                    <textarea cols="120" rows="30" wrap="off">@PrintXML((this.User as ClaimsPrincipal).Identities.First().BootstrapContext as string)</textarea>
                </td>
            </tr>
        </tbody>
    </table>